.site-header {
  font-size: 16px;
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all .5s ease-out;
  background-image: linear-gradient(to right, #5a77d4, #3c4c9d);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);

  .header-logo {
    width: 120px;
    height: 30px;
    line-height: 32px;
    padding-left: 35px;
    /*background-color: #1d5c5c;*/
    background-image: url("../../images/header-logo.png");
    background-repeat: no-repeat;
    background-size: 30px 100%;
    border-radius: 6px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 30px;
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
  }

  ul {
    padding-left: 80px;
    transition: all .5s ease-out;
  }

  &.isMenuOpen > ul {
    padding-left: 0;
  }

  li {
    float: left;
    text-align: center;
    line-height: 60px;
    margin-left: 60px;
    position: relative;
    height: 59px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;

    a {
      color: #fff;
      display: inline-block;
      height: 59px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: all .5s;
    }
  }

  .site-nav {
    float: left;
  }

  li.cur {
    color: #fff;

    &:after {
      bottom: 0;
    }
  }

  .login-wrap {
    float: right;
    padding: 5px 18px 0 0;

    a.link {
      font-size: 14px;
      color: #fff;
      margin: 0 30px;

      &.cur {
        color: #35a5a6;
      }
    }

    span {
      color: #ebebeb;
      font-size: 12px;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      background-image: url("../../images/pic-header.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
